/* Změna barvy pozadí kalendáře */
.react-datepicker {
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 55px;
  }
  
  /* Stylování hlavičky kalendáře */
  .react-datepicker__header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Stylování jednotlivých dní */
  .react-datepicker__day {
    color: #333;
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .react-datepicker__day:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Aktuálně vybraný den */
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  /* Dny mimo aktuální měsíc */
  .react-datepicker__day--outside-month {
    color: #ccc;
  }
  
  /* Navigační šipky */
  .react-datepicker__navigation {
    top: 16px;
    line-height: 1.5;
    border: 0;
    background: none;
    color: rgb(0, 0, 0);
  }
  
  .react-datepicker__navigation:hover {
    color: #ffc107;
  }
  
  /* Footer */
  .react-datepicker__footer {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
.calendarFlex{
  display: flex; // Align input groups side by side
  gap: 2%; // Space between inputs
  width: 100%;
  height: 30%;
}
  