.profileContainer{
    background: linear-gradient(to right, #9061c6, #e59090);
    border-radius: 8px;
    .buttonLogout{
        background: linear-gradient(to right, #e59090, #9061c6);
        border-color: black;
    }
}